# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
.next/
out/
build/

# env / secrets
.env
.env.*

# logs / misc
*.log
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# local leftovers
frontend/
prisma/dev.db
public/uploads/

# vercel
.vercel/

.vercel
